.cabecalho
{
    background-color: #D9D9D9;
    height: 300px;
    margin: 0px;
    padding: 20px
}

.corpo
{
    background-color: aqua;
}

div
{
    background-color: blue;
    border: 2px solid black;
}
